SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/demo
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=663804qq

JWT_SECRET=I#QJNGFMQWIEJFNMIWQNMCIWQNi21nmfi12nfi2mvasiomc12oidm
JWT_EXPIRATION=86400000

TELEGRAM_BOT_USERNAME=taskflow_reminders_ik_bot
TELEGRAM_BOT_TOKEN=8310611577:AAGBUlka5hS5IxQLFJvmbKgJfUlBZGYkFro
TELEGRAM_WEBHOOK_SECRET=cvf2i1mqdmi21idcivcm21qoFIEwkmfoqm12omfo1mvfu2inf22imF2iofm